/* Footer widget styles*/
.f-widget {
display: block;
    float: left;
    margin-left: 5%;
    width: 20%;
}

/* Adjusting appearance of category pictures on front page */
.row-fluid .span4 {
    padding-left: 5%;
    width: 30%;
}